    <template>
  <div id="main">
    <div id="titulo">
      <h1 class="blueMinsal--text">Niveles</h1>
      <v-divider />
    </div>
    <div id="body">
      <v-card>
        <div class="mx-10">
          <v-card-title class="d-flex justify-space-between">
            <v-text-field
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-btn
              class="mt-2 ml-5"
              color="primary"
              rounded
              @click="openModal()"
            >
              <v-icon left> mdi-pencil </v-icon>
              Agregar</v-btn
            >
          </v-card-title>
        </div>
        <v-data-table :headers="headers" :items="teams">
          <template v-slot:item.actions="{ item }">
            <div class="d-flex justify-space-around">
              <v-icon
                small
                color="primary"
                class="mr-2"
                @click="actionsModal(item, 'show')"
              >
                mdi-eye
              </v-icon>
              <v-icon color="primary" small @click="actionsModal(item, 'edit')">
                mdi-pencil
              </v-icon>
              <v-icon
                color="primary"
                small
                @click="actionsModal(item, 'status')"
              >
                mdi-block-helper
              </v-icon>
            </div>
          </template>
        </v-data-table>
      </v-card>
    </div>
    <!--modals-->
    <v-row justify="center">
      <v-dialog persistent v-model="showModal.create" max-width="1024">
        <v-card>
          <v-card-title class="d-flex justify-center">
            <h5 class="blueMinsal--text my-5">Añadir Grupo</h5>
          </v-card-title>
          <div id="bodycreate" class="mx-16">
            <v-row>
              <v-col cols="12" md="12">
                <v-text-field
                  v-model="showModal.detail.nombre"
                  placeholder="Nombre*"
                  filled
                  rounded
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="12">
                <v-text-field
                  v-model="showModal.detail.description"
                  placeholder="Descripcion*"
                  filled
                  rounded
                ></v-text-field>
              </v-col>
              <v-divider></v-divider>
            </v-row>
            <v-divider />
          </div>
          <v-card-actions class="d-flex justify-center">
            <v-btn plain @click="cancelModal()" color="blueMinsal"
              >Cancelar</v-btn
            >
            <v-btn class="ml-5" @click="addTeam" rounded color="primary"
              >Guardar</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    showModal: {
      create: false,
      detail: {
        nombre: null,
        description: null,
      },
    },
    teams: [],
    headers: [
      { text: "ID", align: "center", value: "id" },
      { text: "Nombre", align: "center", value: "name" },
      { text: "Descripción", align: "center", value: "description" },
      { text: "Actions", align: "center", value: "actions" },
    ],
    editedIndex: -1,
  }),

  methods: {
    cancelModal() {
      this.showModal.create = false;
    },
    openModal() {
      this.showModal.create = true;
    },
    actionsModal(e, type) {
      if (type == "show") {
        this.showModal.detail = e;

        this.showModal.show = true;
      } else if (type == "edit") {
        this.editItem(e);
        this.showModal.create = true;
      }
    },
    editItem(item) {
      this.editedIndex = this.teams.indexOf(item);
      console.log(this.teams.indexOf(item));
      this.showModal.detail = Object.assign({}, item);
    },
    async addTeam() {
      const data = {
        name: this.showModal.detail.nombre,
        description: this.showModal.detail.description,
      };
      await this.http_client("/api/v1/tiers", data, "post");
      await this.getTiers();
      this.cancelModal();
    },
    async getTiers() {
      const response = await this.http_client("/api/v1/tiers");
      this.teams = response?.data;
    },
  },
  async mounted() {
    await this.getTiers();
  },
  computed: {},
};
</script>

<style></style>
