<template>
  <div id="main">
    <div id="titulo">
      <h1 class="blueMinsal--text">Cases</h1>
      <v-divider />
    </div>
    <div id="body">
      <v-card>
        <div class="mx-10">
          <v-card-title class="d-flex justify-space-between">
            <v-text-field
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-btn
              class="mt-2 ml-5"
              color="primary"
              rounded
              @click="openModals('create')"
            >
              <v-icon left> mdi-pencil </v-icon>
              Add Case
            </v-btn>
          </v-card-title>
        </div>
        <v-data-table :headers="headers" :items="cases">
          <template v-slot:item.actions="{ item }">
            <div class="d-flex justify-space-around">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                    @click="openModals('combine', item)"
                  >
                    mdi-arrow-collapse-vertical
                  </v-icon>
                </template>
                <span>Combine</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon color="primary" dark v-bind="attrs" v-on="on">
                    mdi-table-merge-cells
                  </v-icon>
                </template>
                <span>Merge</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    color="primary"
                    @click="openModals('escale', item)"
                    dark
                    v-bind="attrs"
                    v-on="on"
                  >
                    mdi-arrow-expand-up
                  </v-icon>
                </template>
                <span>Escale</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                    @click="openModals('close', item.id)"
                  >
                    mdi-block-helper
                  </v-icon>
                </template>
                <span>Close</span>
              </v-tooltip>
            </div>
          </template>
        </v-data-table>
      </v-card>
    </div>
    <!--modals-->
    <create-case
      :modalView="create"
      @close="create = false"
      @created="getCases"
    ></create-case>
    <scale-case
      :modalView="escale"
      :singleCase="singleCase"
      @closeEscale="escale = false"
      @escaled="getCases"
    ></scale-case>
    <CombineCase
      :modalView="combine"
      :cases="casesToCombine"
      @closeCombine="combine = false"
      @combined="getCases"
    ></CombineCase>

    <v-row justify="center">
      <v-dialog persistent v-model="modal" max-width="1024">
        <v-card>
          <v-card-title class="d-flex justify-center">
            <h2 class="blueMinsal--text my-5">Close Case</h2>
          </v-card-title>

          <div id="bodycreate" class="mx-16 d-flex justify-center">
            <h3>Are you sure to close this case?</h3>
          </div>

          <v-card-actions class="d-flex justify-center">
            <v-btn
              class="ml-5 white--text"
              @click.stop="modal = false"
              color="blueMinsal"
              >Cancel</v-btn
            >
            <v-btn class="ml-5 white--text" color="red" @click="closeCase()"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import CreateCase from "./components/CreateCase.vue";
import ScaleCase from "./components/ScaleCase.vue";
import CombineCase from "./components/CombineCase.vue";

export default {
  components: { CreateCase, ScaleCase, CombineCase },
  data: () => ({
    create: false,
    modal: false,
    escale: false,
    combine: false,
    cases: [],
    singleCase: {},
    casesToCombine: {},
    headers: [
      { text: "Name", align: "center", value: "name" },
      { text: "Track Code", align: "center", value: "track_code" },
      { text: "Current Status", align: "center", value: "current_status" },
      { text: "Team", align: "center", value: "team" },
      { text: "Tier", align: "center", value: "tier" },
      { text: "User", align: "center", value: "user" },
      { text: "Description", align: "center", value: "description" },
      { text: "Actions", align: "center", value: "actions" },
    ],
    editedIndex: -1,
    idCase: null,
  }),
  methods: {
    async openModals(action, data = null) {
      switch (action) {
        case "create":
          this.create = true;
          break;
        case "escale":
          this.singleCase = data;
          this.escale = true;
          break;
        case "combine":
          await this.getCasesToCombine(data);
          this.combine = true;
          break;
        case "close":
          this.idCase = data;
          this.modal = true;
          break;
        default:
          break;
      }
    },
    async getCases() {
      const response = await this.http_client("/api/v1/cases");
      this.cases = response?.data;
    },
    async getCasesToCombine(data) {
      const response = await this.http_client("/api/v1/cases/combine", data);
      this.casesToCombine = response?.data;
    },
    async closeCase() {
      const {
        data: { message },
      } = await this.http_client(
        "/api/v1/cases/close",
        { id_case: this.idCase },
        "PUT"
      );
      this.temporalAlert({
        show: true,
        message,
        type: "success",
      });
      this.modal = false;
      await this.getCases();
    },
  },
  async created() {
    await this.getCases();
  },
};
</script>

<style>
</style>
