<template>
  <v-row justify="center">
    <v-dialog persistent v-model="show" max-width="1024">
      <v-card>
        <v-card-title class="d-flex justify-center">
          <h5 class="blueMinsal--text my-5">Combine Cases</h5>
        </v-card-title>
        <div id="bodycreate" class="mx-16">
          <v-row align-content="center" justify="center">
            <v-col cols="12" md="5">
              <v-row> </v-row>
              <v-row>
                <v-text-field
                  v-model="name"
                  label="Combined case name"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="12" md="5" class="ml-5">
              <v-row> </v-row>
              <v-row>
                <v-select
                  :items="cases.casesList"
                  v-model="casesToCombine"
                  label="Similar Cases"
                  filled
                  rounded
                  item-text="name"
                  item-value="id"
                  chips
                  multiple
                >
                </v-select>
              </v-row>
            </v-col>
          </v-row>
          <v-divider />
        </div>
        <v-card-actions class="d-flex justify-center">
          <v-btn @click.stop="show = false" class="red white--text"
            >Cancel</v-btn
          >
          <v-btn class="ml-5" @click="combineCases" color="primary">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    modalView: {
      type: Boolean,
      required: true,
    },
    cases: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    tier_id: null,
    casesToCombine: [],
    name: null,
  }),
  computed: {
    show: {
      get() {
        return this.modalView;
      },
      set(val) {
        if (!val) {
          this.$emit("closeCombine");
        }
      },
    },
  },
  methods: {
    async combineCases() {
      const data = {
        casesToCombine: this.casesToCombine,
        name: this.name,
      };
      await this.showLoader();
      const {
        data: { message },
      } = await this.http_client("/api/v1/cases/combine", data, "post");
      this.temporalAlert({
        show: true,
        message,
        type: "success",
      });
      this.hideLoader();
      this.$emit("combined");
      this.show = false;
    },
  },
};
</script>

<style>
.title {
  font-size: 3rem;
  font-weight: 700;
}
.data {
  color: rgb(83, 83, 83);
}
</style>