<template>
  <v-row justify="center">
    <v-dialog persistent v-model="show" max-width="1024">
      <v-card>
        <v-card-title class="d-flex justify-center">
          <h5 class="blueMinsal--text my-5">Add Case</h5>
        </v-card-title>
        <div id="bodycreate" class="mx-16">
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                placeholder="Track Code*"
                v-model="track_code"
                filled
                rounded
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field placeholder="Name*" v-model="name" filled rounded>
              </v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-select
                :items="teams"
                v-model="team_id"
                label="Group"
                filled
                rounded
                return-object
              >
                <template v-slot:selection="{ item }">
                  {{ getText(item) }}
                </template>
                <template v-slot:item="{ item }">
                  {{ getText(item) }}
                </template>
              </v-select>
            </v-col>
            <v-col cols="12" md="6">
              <v-select
                :items="tiers"
                v-model="tier_id"
                label="Tier"
                filled
                rounded
                return-object
              >
                <template v-slot:selection="{ item }">
                  {{ getText(item) }}
                </template>
                <template v-slot:item="{ item }">
                  {{ getText(item) }}
                </template>
              </v-select>
            </v-col>
            <v-col cols="12" md="12">
              <v-textarea
                placeholder="Description*"
                v-model="description"
                filled
                rounded
              >
              </v-textarea>
            </v-col>
            <v-divider></v-divider>
          </v-row>
          <v-divider />
        </div>
        <v-card-actions class="d-flex justify-center">
          <v-btn plain @click.stop="show = false" color="blueMinsal"
            >Cancel</v-btn
          >
          <v-btn class="ml-5" @click="addCase" rounded color="primary"
            >Save</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    modalView: {
      type: Boolean,
      required: true,
    },
  },
  data: () => ({
    teams: [],
    tiers: [],
    status: [],
    user: null,
    name: null,
    track_code: null,
    current_status_id: null,
    team_id: null,
    tier_id: null,
    user_id: null,
    description: null,
  }),
  computed: {
    show: {
      get() {
        return this.modalView;
      },
      set(val) {
        if (!val) {
          this.$emit("close");
        }
      },
    },
  },
  methods: {
    getText(item) {
      return `${item.name}`;
    },
    async getTiers() {
      const response = await this.http_client("/api/v1/tiers");
      this.tiers = response?.data;
    },
    async getTeams() {
      const response = await this.http_client("/api/v1/teams");
      this.teams = response?.data;
    },
    async getStatus() {
      const response = await this.http_client("/api/v1/status");
      this.status = response?.data;
    },
    async addCase() {
      const data = {
        name: this.name,
        track_code: this.track_code,
        current_status_id: this.status[0].id,
        team_id: this.team_id.id,
        tier_id: this.tier_id.id,
        description: this.description,
      };
      await this.showLoader();
      const {
        data: { message },
      } = await this.http_client("/api/v1/cases", data, "post");
      this.temporalAlert({
        show: true,
        message,
        type: "success",
      });
      this.hideLoader();
      this.$emit("created");
      this.show = false;
    },
  },
  async created() {
    await this.getTiers();
    await this.getTeams();
    await this.getStatus();
  },
};
</script>

<style>
</style>