<template>
  <v-row justify="center">
    <v-dialog persistent v-model="show" max-width="1024">
      <v-card>
        <v-card-title class="d-flex justify-center">
          <h5 class="blueMinsal--text my-5">Escale Case</h5>
        </v-card-title>
        <div id="bodycreate" class="mx-16">
          <v-row>
            <v-col cols="12" md="6" class="d-flex flex-column">
              <h4>Current Data</h4>
              <ul style="list-style: none">
                <li>
                  <span class="title">Track Code: </span>
                  <span class="data">{{ singleCase.track_code }}</span>
                </li>
                <li>
                  <span class="title">Name: </span>
                  <span class="data">{{ singleCase.name }}</span>
                </li>
                <li>
                  <span class="title">Team: </span>
                  <span class="data">{{ singleCase.team }}</span>
                </li>
                <li>
                  <span class="title">Current Tier: </span>
                  <span class="data">{{ singleCase.tier }}</span>
                </li>
              </ul>
            </v-col>
            <v-col cols="12" md="6">
              <v-row class="pb-5">
                <v-checkbox
                  label="Do you want to set a custom status?"
                  color="red"
                  @click="setIsCustom"
                  hide-details
                ></v-checkbox>
              </v-row>
              <v-row>
                <v-select
                  :items="filteredTiers"
                  v-model="tier_id"
                  label="Tier"
                  filled
                  rounded
                  return-object
                >
                  <template v-slot:selection="{ item }">
                    {{ getText(item) }}
                  </template>
                  <template v-slot:item="{ item }">
                    {{ getText(item) }}
                  </template>
                </v-select>
              </v-row>
              <v-row v-if="isCustom">
                <v-text-field
                  v-model="statusName"
                  placeholder="Custom status name*"
                  filled
                  rounded
                >
                </v-text-field>
                <v-text-field
                  v-model="statusDescription"
                  placeholder="Custom status description*"
                  filled
                  rounded
                >
                </v-text-field>
              </v-row>
            </v-col>
            <v-divider></v-divider>
          </v-row>
          <v-divider />
        </div>
        <v-card-actions class="d-flex justify-center">
          <v-btn @click.stop="show = false" class="red white--text"
            >Cancel</v-btn
          >
          <v-btn class="ml-5" @click="escaleCase" color="primary">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    modalView: {
      type: Boolean,
      required: true,
    },
    singleCase: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    tiers: [],
    tier_id: null,
    filteredTiers: [],
    isCustom: false,
    statusName: "",
    statusDescription: "",
  }),
  computed: {
    show: {
      get() {
        this.filteredTiers = this.tiers.filter(
          (tier) => tier.name !== this.singleCase.tier
        );
        return this.modalView;
      },
      set(val) {
        if (!val) {
          this.$emit("closeEscale");
        }
      },
    },
  },
  methods: {
    setIsCustom() {
      this.isCustom = !this.isCustom;
    },
    getText(item) {
      return `${item.name}`;
    },
    async getTiers() {
      const response = await this.http_client("/api/v1/tiers");
      this.tiers = response?.data;
    },
    async escaleCase() {
      console.log(this.tier_id?.id);
      const data = {
        id_case: this.singleCase?.id,
        id_tier: this.tier_id?.id,
        isCustom: this.isCustom,
        statusName: this.statusName,
        statusDescription: this.statusDescription,
      };
      await this.showLoader();
      const {
        data: { message },
      } = await this.http_client("/api/v1/cases/escale", data, "put");
      this.temporalAlert({
        show: true,
        message,
        type: "success",
      });
      this.hideLoader();
      this.$emit("escaled");
      this.show = false;
    },
  },
  async created() {
    await this.getTiers();
  },
};
</script>

<style>
.title {
  font-size: 3rem;
  font-weight: 700;
}
.data {
  color: rgb(83, 83, 83);
}
</style>