<template>
  <v-app>
    <v-main class="bgMinsal">
      <v-container fill-height justify-center fluid>
        <v-flex xs12 sm8 md6 lg4 xl3>
          <v-card class="rounded-lg text-center elevation-3 px-0">
            <v-card-title class="justify-center">Registro de Usuario</v-card-title>
            <v-card-text class="px-5">
              <v-text-field class="mt-5" name="name" label="Nombre*" type="text" color="blueMinsal" v-model="name"
                :rules="rules.nameRules" v-if="success == false" filled rounded dense></v-text-field>
              <v-text-field class="mt-5" name="email" label="Correo*" type="text" color="blueMinsal" v-model="email"
                :rules="rules.emailRules" v-if="success == false" filled rounded dense></v-text-field>
              <v-text-field class="mt-5" name="password" label="Contraseña*" type="text" color="blueMinsal"
                v-model="pass" :rules="rules.passRules" v-if="success == false" filled rounded dense></v-text-field>
              <v-text-field class="mt-5" name="Code" label="Código*" type="text" color="blueMinsal" v-model="code"
                :rules="rules.codeRules" v-if="success == false" filled rounded dense></v-text-field>
              <v-alert dense text type="success" :value="success == true" transition="slide-x-transition">
                Usuario creado con éxito.
              </v-alert>
            </v-card-text>
            <v-card-actions class="justify-space-around pb-5 px-15" width="100%">
              <v-btn to="/login" class="blueMinsal--text" rounded text color="blueMinsal" style="text-transform: none">
                Cancelar</v-btn>
              <v-divider vertical v-if="!success"></v-divider>
              <v-btn class="blueMinsal px-5 white--text" rounded :loading="loading" @click="Register" v-if="!success">
                Enviar</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
export default {
  data: () => ({
    email: null,
    name: null,
    pass: null,
    code: null,
    loading: false,
    success: false,
    email_error: false,
    email_message: "",
    rules: {
      nameRules: [
        val => !!val || 'El nombre no puede estar vacío.'
      ],
      emailRules: [
        val => !!val || "Este campo es requerido.",
      ],
      passRules: [
        val => !!val || 'Ingrese una contraseña válida.'
      ],
      codeRules: [
        val => !!val || 'El código no puede ir vacío.'
      ]
    }
  }),
  methods: {
    valid(v) {
      return this.isEmail(v);
    },
    async Register() {
      let data = {
        name: this.name,
        email: this.email,
        password: this.pass,
        code: this.code,
        idRol: 8
      }
      this.loading = true;
      let response = await this.http_client("/api/v1/users", data, "post");
      if (response?.status === 201) {
        this.success = true;
        this.$router.push({ name: "login" })
      }
        this.loading = false  
    },
  },
  computed: {
  },
};
</script>
<style lang="scss" scoped>
</style>
