<template>
  <v-row justify="center">
    <v-dialog persistent v-model="show" max-width="1024">
      <v-card>
        <v-card-title class="d-flex justify-center">
          <h5 class="blueMinsal--text my-5">Combined Cases</h5>
        </v-card-title>
        <div id="bodycreate" class="mx-16">
          <v-row>
            <v-col cols="12" md="6" class="d-flex flex-column">
              <h4>Current Data</h4>
              <ul
                style="list-style: none"
                v-for="(item, index) of cases"
                :key="index"
              >
                <li>
                  <span class="title">Track Code: </span>
                  <span class="data">{{ item.track_code }}</span>
                </li>
                <li>
                  <span class="title">Name: </span>
                  <span class="data">{{ item.name }}</span>
                </li>
                <li>
                  <span class="title">Team: </span>
                  <span class="data">{{ item.team }}</span>
                </li>
                <li>
                  <span class="title">Current Tier: </span>
                  <span class="data">{{ item.tier }}</span>
                </li>
              </ul>
            </v-col>
            <v-divider></v-divider>
          </v-row>
          <v-divider />
        </div>
        <v-card-actions class="d-flex justify-center">
          <v-btn @click.stop="show = false" class="red white--text"
            >Cancel</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    modalView: {
      type: Boolean,
      required: true,
    },
    cases: {
      type: Array,
      required: true,
    },
  },
  data: () => ({}),
  computed: {
    show: {
      get() {
        return this.modalView;
      },
      set(val) {
        if (!val) {
          this.$emit("closeList");
        }
      },
    },
  },
  methods: {
    getText(item) {
      return `${item.name}`;
    },
  },
  async created() {},
};
</script>

<style>
.title {
  font-size: 3rem;
  font-weight: 700;
}
.data {
  color: rgb(83, 83, 83);
}
</style>